* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color: rgb(54, 54, 54);
}

.main_rules {
    margin: 0;
    padding: 0;
    align-items: center;
}

.page-fixer {
    max-width: 1200px;
    width: 100%;
}

.site-header {
    align-items: center;
    margin-top: 40px;
}

.info_and_navigation {
    display: flex;
    justify-content: space-between;
}

.page_info, .navigation a {
    color: rgb(125, 125, 125);
}

.navigation {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

.navigation_list {
    margin: 0 0 0 20px;
}

a {
    text-decoration: none;
}

.menu_href {
    color: rgb(255, 255, 255);
}

.page_name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 110px;
    width: 100%;
    margin: 20px auto;
}

.main_name {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.main_title {
    margin: 50px 0 30px;
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
}

.main_menu_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-size: 20px;
}

.main_menu_list_element {
    margin: 0 15px;
    color: rgb(255, 255, 255);
}

.main_text {
    margin: 30px 0px;
    font-size: 20px;
}

.horizontal_img_list {
    display: flex;
    justify-content: space-between;
}

.small_img_list {
    margin: 5px 0;
}

.main-content {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.main-content-right-column {
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.wide_additional_info_block {
    width: 810px;
    margin-top: 50px;
}

.flex-wrap-fixer{
    display: flex;
    flex-wrap: wrap;
}

.events-matrix {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.event-card {
    width: 360px;
}

.event-img {
    display: flex;
    position: relative;
    height: 200px;
    background-size: cover;
}

.event-category {
    display: flex;
    position: absolute;
    bottom: -1px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.event-title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.event-date {
    font-size: 16px;
    color: rgb(151, 151, 151);
}

.background_blue {
    background: rgb(70, 142, 216);
}

.background_mint {
    background: rgb(93, 191, 140);
}

.background_orchid {
    background: rgb(193, 116, 184);
}

.background_light_ocher {
    background: rgb(225, 177, 115);
}

.button-primary {
    display: block;
    background: rgb(92, 189, 92);
    border: none;
    height: 70px;
    width: 250px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    margin: 120px auto 0;
}

.button-primary:hover {
    cursor: pointer;
    border: solid 3px rgb(24, 140, 57);
}

.button-primary:active {
    background: rgb(24, 140, 57);
}

.narrow_additional_info_block {
    min-width: 350px;
}

.additional_info_block {
    margin: 50px auto 0;
    border: solid 1px rgb(151, 151, 151);
    padding: 30px 20px 60px;
}

.title_additional_info {
    border-bottom: solid 3px rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    max-width: 100%;
    width: fit-content;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.line_additional_info {
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 1px;
}

.soc_icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 30px 0 0;
}

.soc_icon_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soc_icon_img {
    margin: 20px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.soc_icon_text {
    color: rgb(125, 125, 125);
    font-size: 15px;
}

.users-block {
    flex: 1;
}

.users_list {
    padding: 50px 0 0;
    margin: 0;
}

.item_list_users:first-child {
    margin-top: 0;
}

.item_list_users {
    margin: 10px 0 0;
}

.user_type {
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.user_role {
    margin: 0;
    color: rgb(125, 125, 125);
    font-size: 14px;
}

.user_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text_info_block {
    margin: 10px;
}

.user_icon_img {
    margin: 5px;
    border-radius: 50%;
    width: 67px;
    height: 67px;
}

.lectures-block {
    background-color: rgb(244, 244, 244);
    border: none;
    padding-bottom: 20px;
}

.lectures-list {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    padding: 0;
}

.lectures-list-item {
    width: 286px;
    height: 200px;
}

.lectures-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.fix-news-block {
    padding-bottom: 40px;
    padding-right: 40px;
}

.news-title-line {
    max-width: 350px;
}

.news_list {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0;
    margin: 0;
}

.news_list_item:first-child {
    margin-top: 0;
}

.news_list_item {
    margin: 10px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.news-item-title {
    margin: 0;
    color: rgb(0, 0, 0);
    line-height: 90%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

.news-item-text {
    margin: 4px 0 8px;
    color: rgb(125, 125, 125);
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.news-item-date {
    color: rgb(125, 125, 125);
    font-size: 12px;
}

.news-item-link {
    display: flex;
    justify-content: flex-start;
}

.news-item-icon-img {
    width: 104px;
    height: 76px;
}

.fix-register-form-block {
    padding-bottom: 10px;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-header {
    font-weight: 700;
    font-size: 14px;
    color: rgb(104, 104, 104);
    margin: 20px 0 20px;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-field {
    border: solid 1px rgb(151, 151, 151);
    border-radius: 5px;
    font-size: 14px;
    color: rgb(156, 156, 156);
    line-height: 150%;
    padding: 10px;
}

.form-field-row{
    margin: 20px 0 0;
}

.form-field-row:first-child {
    margin: 0;
}

.form-field:hover {
    border: solid 3px rgb(60, 11, 255);
}

.form-field:focus {
    background: rgb(201, 243, 209);
    border: solid 1px rgb(151, 151, 151);
}

.fix-align-self-end {
    align-self: flex-end;
}

.button-secondary {
    display: block;
    justify-self: end;
    background: rgb(92, 189, 92);
    border: none;
    height: 45px;
    width: 100px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    margin: 20px 0 0;
}

.button-secondary:hover {
    cursor: pointer;
    border: solid 3px rgb(24, 140, 57);
}

.button-secondary:active {
    background: rgb(24, 140, 57);
}

.page_footer {
    width: 100%;
    margin-top: 50px;
    padding: 70px 0;
    background-color: rgb(54, 54, 54);
    color: rgb(191, 191, 191);
    text-align: center;
}